body {
    text-align: center;
    height: 100vh;
    background: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
h1 {
    color: #210E2D;
}
hr {
    max-width: 50%;
    color: #210E2D;
    display: inline;
}
.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}
.container {
    text-align: center;
    background-color: white;
    padding: 20px;
     margin: auto;
    margin-top: 50px;
    max-width: 300px;
   border-radius: 4px;
   box-shadow: 2px 2px 2px #210E2D;
    
}
.email-label {
font-size: 20px;
color: #210E2D;
}
.password-label {
    font-size: 20px;
    color: #210E2D;
}

.email-input {
    margin-bottom: 13px;
    padding: 10px 10px;
}
.password-input {
    padding: 10px 10px;
}
#remember {
    color: #210E2D;
    
}
.submit-button {
padding: 8px 15px;
margin: 15px;
background-color: #4F008E;
border-width: 0;
border-radius: 4px;
color: #ffff;
}
.alternative {
    color: #210E2D;
}
.login-google {
    background-color: #4F008E;
    border-width: 0;
    padding: 8px 15px;
    color: #ffff;
    border-radius: 4px;
    font-family: "Courier Prime", monospace;

}
.no-account {
    color: #210E2D;
}